<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943116106298-f3hqo45l68n0mfcpj3g8u87qforoau1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943116106298-f3hqo45l68n0mfcpj3g8u87qforoau1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBY8rLsPvL8GdkrzdcEVNKlGWwqvJGyn7g</string>
	<key>GCM_SENDER_ID</key>
	<string>943116106298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerkalayli.teneffus</string>
	<key>PROJECT_ID</key>
	<string>teneffus-cec41</string>
	<key>STORAGE_BUCKET</key>
	<string>teneffus-cec41.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943116106298:ios:d763e563b02810eaadd303</string>
</dict>
</plist>